<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tournament</title>
</head>
<body>
	<h1>Tournament: {{tournament.name}}</h1>

	<h2>Battles</h2>
	<div>
		{% for battle in battles %}
		<div>
			<p>Round {{battle.round}} - Game {{battle.game}}</p>
			<p>{{battle.team_1.name}} - score: {{battle.team_1_score}}</p>
			<p>{{battle.team_2.name}} - score: {{battle.team_2_score}}</p>
		</div>
		{% endfor %}
	</div>
</body>
</html>
