{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tournament Generator</title>
</head>
<body>
	<h1>Tournament: {{tournament.name}}</h1>
	<button onclick="deleteTournament()">Delete Tournament</button>
	<br><br>
	<input type="text" name="insertTeam" id="inputTeamName" placeholder="Team name">
	<button onclick="addTeam()">Insert Team</button>
	<hr>
	<div>
		<h2>{{count_teams}} Registered Teams</h2>
		{% for team in teams %}
			<p>
				{{team.name}}
				<button onclick="removeTeam({{team.id}})">Delete</button>
			</p>
		{% endfor %}
	</div>
	<hr>
	<input type="radio" name="typeTournament" value="knockout" checked> Knock-out
	<input type="radio" name="typeTournament" value="league"> League
	<br>
	<button onclick="generateTournament()">Generate Tournament</button>
	<script src=" {% static 'js/team.js' %} "></script>
	<script src=" {% static 'js/tournament.js' %} "></script>
</body>
</html>
