{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tournament - Battles</title>
	<!-- Bootstrap -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<body onload="setCookie('{{ tournament.id }}')">
	<!-- Go to top button -->
	<div class="position-relative">
		<button class="btn btn-primary rounded-circle position-fixed bottom-0 end-0 m-3" onclick="goTop()">
			<i class="bi bi-arrow-up"></i>
		</button>
	</div>

	<nav class="navbar navbar-dark bg-dark mb-4 sticky-top">
		<ul class="nav nav-tabs">
			<li class="nav-item">
				<a class="btn btn-dark" href="/" title="Go back to home"><i class="bi bi-house-door-fill"></i></a>
			</li>	
			<li class="nav-item navbar-brand mb-0 ms-2">
				{{tournament.name}}
			</li>
			<li class="nav-item">
				{% if tournament.type == "knockout" %}
					<a class="nav-link text-light" href="brackets">Brackets</a>
				{% else %}
					<a class="nav-link text-light" href="table">Ranking table</a>
				{% endif %}
			</li>
			<li class="nav-item">
				<a class="nav-link active" aria-current="page" href="battles">Battles</a>
			</li>
		</ul>
	</nav>

	<nav aria-label="Page navigation" id="pagination">
		{% if tournament.status == "running" %}
			<h5 class="ms-4">Current round: {{ tournament.current_round }}</h5>
		{% else %}
			<h5 class="ms-4">Current round: {{ tournament.status }}</h5>
		{% endif %}
		<ul class="pagination pagination-sm justify-content-center d-flex flex-wrap">
			{% for n_round in n_rounds %}
				<li class="page-item"><a class="page-link" href="#round-{{ n_round }}">{{ n_round }}</a></li>
			{% endfor %}
		</ul>
	</nav>

	<div class="container-fluid">
		<div class="container-fluid">
			{% for round in rounds %}
				<p class="list-group-item active d-flex justify-content-between align-items-center" id="round-{{round.round}}">
					Round {{ round.round }}
					{% if round.round == tournament.current_round and tournament.status == "running" %}
						<span data-bs-toggle="modal" data-bs-target="#nextRound" class="btn btn-primary">
							End Round<i class="bi bi-hammer ms-2"></i>
						</span>
					{% endif %}
				</p>
				<div class="d-flex flex-wrap justify-content-around">
				{% for battle in round.battles %}
					<div id="game-{{battle.game}}" style="width: 250px">
						{% if battle.editable %}
							<small class="d-flex justify-content-between text-secondary p-1">Game {{battle.game}} <i onclick="setEditBattleValues({{battle.game}})" class="bi bi-pencil" data-bs-toggle="modal" data-bs-target="#editBattle" style="cursor: pointer"></i></small>
							<p class="d-flex justify-content-between p-1"><span><i class="bi bi-people-fill"></i> {{battle.team_1.name}}</span> <span id="team_score">{{battle.team_1_score}}</span></p>
							<p class="d-flex justify-content-between p-1"><span><i class="bi bi-people"></i> {{battle.team_2.name}}</span> <span id="team_score">{{battle.team_2_score}}</span></p>
						{% else %}
							<small class="d-flex justify-content-between text-secondary p-1">Game {{battle.game}}</small>
							{% if battle.winner == "team_1" %}
								<p class="d-flex justify-content-between text-primary p-1"><span><i class="bi bi-people-fill"></i> {{battle.team_1.name}}</span> <span id="team_score">{{battle.team_1_score}}</span></p>
								<p class="d-flex justify-content-between p-1"><span><i class="bi bi-people"></i> {{battle.team_2.name}}</span> <span id="team_score">{{battle.team_2_score}}</span></p>
							{% elif battle.winner == "team_2" %}
								<p class="d-flex justify-content-between p-1"><span><i class="bi bi-people-fill"></i> {{battle.team_1.name}}</span> <span id="team_score">{{battle.team_1_score}}</span></p>
								<p class="d-flex justify-content-between text-primary p-1"><span><i class="bi bi-people"></i> {{battle.team_2.name}}</span> <span id="team_score">{{battle.team_2_score}}</span></p>
							{% else %}
								<p class="d-flex justify-content-between p-1"><span><i class="bi bi-people-fill"></i> {{battle.team_1.name}}</span> <span id="team_score">{{battle.team_1_score}}</span></p>
								<p class="d-flex justify-content-between p-1"><span><i class="bi bi-people"></i> {{battle.team_2.name}}</span> <span id="team_score">{{battle.team_2_score}}</span></p>
							{% endif %}
						{% endif %}
					</div>
				{% endfor %}
				</div>
			{% endfor %}
		</div>
	</div>

	<!-- Modal - set score of battle -->
	<div class="modal fade" id="editBattle" tabindex="-1" aria-labelledby="editBattleLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="editBattleLabel">Edit battle</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="input-group flex-nowrap mb-3">
						<span class="input-group-text w-50" id="nameTeam1">Team1</span>
						<input type="text" class="form-control" id="inputScoreTeam1" placeholder="Team score" aria-label="Team score" aria-describedby="addon-wrapping">
					</div>

					<div class="input-group flex-nowrap mb-3">
						<span class="input-group-text w-50" id="nameTeam2">Team2</span>
						<input type="text" class="form-control" id="inputScoreTeam2" placeholder="Team score" aria-label="Team score" aria-describedby="addon-wrapping">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" id="btnCloseEditBattle" data-bs-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" id="btnSaveBattleChanges">Save changes</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal - confirm round ended -->
	<div class="modal fade" id="nextRound" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Confirm</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					{% if tournament.type == "knockout" %}
						<p>New games will be displayed when confirming.</p>
					{% endif %}
					<p class="text-danger">Confirm that all results are correct! Cannot edit previous rounds</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					{% if final %}
						<button type="button" class="btn btn-primary" onclick="nextRound(final=true)">Confirm</button>
					{% else %}
						<button type="button" class="btn btn-primary" onclick="nextRound()">Confirm</button>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

	<script src="{% static 'js/tournament.js' %}"></script>
	<script src="{% static 'js/battle.js' %}"></script>
	<script>
		function goTop() {
			scrollTo(0, 0);
		}
	</script>
</body>
</html>
